header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem;
    background-color: transparent; /* Bakgrundsfärg för bättre synlighet */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Se till att headern ligger över annat innehåll */
}
.logo {
    font-size: 2rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
}
nav .nav-link {
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
nav .nav-link:hover, nav .nav-link.active {
    color: #b74b4b;
    border-bottom: solid 3px #b74b4b;
}
